version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: expense-backend
    ports:
      - "8000:8000"
    networks:
      - backend-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus-fintech
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - backend-network
  
networks:
  backend-network:
    driver: bridge